@page "/progetti"
@using MAUI.Dati
@using MAUI.Dati.Strutture
@inject Db db

<h3>Progetti</h3>

@if(inUso == null)
{
    <TabellaProgetti progetti="db.progetti" onNuovo="Nuovo" onSeleziona="Selezione" onCancella="Cancella" />
} else
{
    <DettaglioProgetto progetto="inUso" />
}

@code {

    Progetto inUso = null;

    private void Selezione(Progetto progetto)
    {
        inUso = progetto;
    }

    private void Nuovo()
    {
        Progetto nuovo = new Progetto() {
            nome = "Nuovo Progetto",
            descrizione = "nuovo progetto da compilare"
        };
        nuovo.AggiornaHash();
        db.progetti.Add(nuovo);
    }


    private async void Cancella(Progetto progetto)
    {
       db.progetti.Remove(progetto);
    }

}
