@page "/progetti"
@using MAUI.Dati
@using MAUI.Dati.Strutture
@inject Db db
@inject IJSRuntime js

<h3>Progetti</h3>

<div class="table-responsive">
    <table class="table table-hover table-sm">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Descrizione</th>
                <th>
                    <button @onclick="Nuovo" class="btn btn-success">aggiungi</button>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (Progetto singolo in db.progetti)
            {
                <tr>
                    <td>@singolo.nome</td>
                    <td>@singolo.descrizione</td>
                    <td>
                        <button class="btn btn-danger" @onclick="e => Cancella(singolo)">cancella</button>
                    </td>
                </tr>

            }
        </tbody>        
    </table>
</div>

@code {


    private async void Cancella(Progetto progetto)
    {
        bool confermato = await js.InvokeAsync<bool>("confirm", "Sei sicuro?");
        if (confermato)
            db.progetti.Remove(progetto);
    }

}
